.cover#firstSection
  h1.cover-title Limón Persa
  a.cover-arrow(href="#secondSection")
.fruit-info#secondSection
  p.info-text.
    Es un citrico de jugo semi-ácido, sin semilla 
    y cascara gruesa. Esta variedad se produce en 
    los estados de Colima, Jalisco y Veracruz.
