.gallery
  h2.gallery-title Galería
  p.gallery-desc.
    ¡Conoce más del 
    #[b Limón Persa SiCar Farms] en nuestra galería!
  br
  .gallery-gallery
    a.gallery-item.gallery1(href="images/products/gal-ps1.png")
    a.gallery-item.gallery2(href="images/products/gal-ps2.png")
    a.gallery-item.gallery3(href="images/products/gal-ps3.png")
    a.gallery-item.gallery4(href="images/products/gal-ps4.png")
    a.gallery-item.gallery5(href="images/products/gal-ps5.jpg")
    a.gallery-item.gallery6(href="images/products/gal-ps6.jpg")
    a.gallery-item.gallery7(href="images/products/gal-ps7.jpg")
    a.gallery-item.gallery8(href="images/products/gal-ps8.jpg")
