.nutritional
  h2.nutri-title Tabla nutricional
  table.nutri-table
    tr
      th.nutri-head.nutri-left(colspan="2") Información Nutrimental
    tr
      td.nutri-left(colspan="2") Limón Persa
    tr
      td.nutri-sep.nutri-left.nutri-end Tamaño de porción:
      td.nutri-sep.nutri-right.nutri-end 1 limón (85 g)
    tr
      td.nutri-start.nutri-left.bold(colspan="2") Cantidad por porción
    tr
      td.nutri-sep.nutri-left.nutri-end Contenido Energético
      td.nutri-sep.nutri-right.nutri-end 20 Kcal
    tr
      td.nutri-start.nutri-left.nutri-tall Proteínas
      td.nutri-start.nutri-right.nutri-tall 0 g
    tr
      td.nutri-left.nutri-tall Carbohidratos
      td.nutri-right.nutri-tall 7.06 g
    tr
      td.nutri-left.nutri-tall Lípidos totales
      td.nutri-right.nutri-tall 0 g
    tr
      td.nutri-left.nutri-tall Sodio
      td.nutri-right.nutri-tall 1 mg
    tr
      td.nutri-left.nutri-tall Calcio
      td.nutri-right.nutri-tall 2 %
    tr
      td.nutri-left.nutri-tall Vitamina A
      td.nutri-right.nutri-tall 2 g
    tr
      td.nutri-left.nutri-tall Hierro
      td.nutri-right.nutri-tall 2 %
    tr
      td.nutri-close.nutri-left.nutri-tall Vitamina C
      td.nutri-close.nutri-right.nutri-tall 35 %
