.production
  .prod-frame
    .prod-wrapper
      h2.prod-title ¿Dónde se produce?
      p.prod-text.
        En los estados de 
        #[b Colima, Jalisco y Veracruz] existen buenas condiciones 
        de clima y de suelo que propician producciones de 
        calidad.
    .prod-map
  a.prod-button(href="/filepath" download="filename.pdf") Descargar ficha técnica PDF
