.ripening
  .rip-title Maduración y color
  .rip-fruit
    .rip-slider.owl-carousel.owl-theme
      .rip-slide
        .rip-image.rip1
        p.rip-status Verde oscuro
      .rip-slide
        .rip-image.rip2
        p.rip-status Verde
      .rip-slide
        .rip-image.rip3
        p.rip-status Alimonado
      .rip-slide
        .rip-image.rip4
        p.rip-status Amarillo
  .rip-info
    p.rip-text.
      El color del fruto también distingue su grado 
      de maduración; yendo desde el verde oscuro, 
      verde, alimonado hasta el amarillo, cuando es 
      su momento de mayor madurez. La temperatura 
      ideal de almacenamiento, conservación y 
      transporte oscila entre los 8 y 13º C. La 
      vida de anaquel es de 24 días aproximadamente 
      para limón verde, almacenado a una 
      temperatura de entre 9 y 12º C.
