.sizes
  h2.sizes-title Tamaños
  p.sizes-text.
    El calibre se determina por el diámetro máximo
    de la sección ecuatorial del fruto, de acuerdo
    al cuadro que se muestra a continuación:
  br
  table.table.flex-table
    tr.table-row
      th.table-head Calibre / Size
      th.table-head Milímetros (Min-Max)
      th.table-head Piezas por Kg / Pieces per Kg
    tr.table-row
      td.table-cell 110
      td.table-cell 61 - 63 mm
      td.table-cell 6 - 7
    tr.table-row
      td.table-cell 150
      td.table-cell 59 - 61 mm
      td.table-cell 8 - 9
    tr.table-row
      td.table-cell 175
      td.table-cell 56 - 59 mm
      td.table-cell 10
    tr.table-row
      td.table-cell 200
      td.table-cell 54 - 55 mm
      td.table-cell 11 - 12
    tr.table-row
      td.table-cell 230
      td.table-cell 52 - 53 mm
      td.table-cell 13
    tr.table-row
      td.table-cell 250
      td.table-cell 50 - 51 mm
      td.table-cell 14
