.cover#firstSection
  h1.cover-title Coco Destopado
  a.cover-arrow(href="#secondSection")
.fruit-info#secondSection
  p.info-text.
    El coco es una de las palmeras más cultivadas 
    y es muy representativa de las zonas costeras 
    tropicales. Su fruta, también llamada coco 
    tiene una redondez ovoide envuelta por una 
    cáscara muy fibrosa. Su carne es de un blanco 
    esplendoroso y contiene un líquido opalino de 
    tipo lechoso muy fresco y azucarado conocido 
    como “agua de coco” que llena tres cuartas 
    partes de su cavidad.  
