.gallery
  h2.gallery-title Galería
  p.gallery-desc.
    ¡Conoce más del 
    #[b Coco Destopado SiCar Farms] en nuestra galería!
  br
  .gallery-gallery
    a.gallery-item.gallery1(href="images/products/gal-coco1.jpg")
    a.gallery-item.gallery2(href="images/products/gal-coco2.jpg")
    a.gallery-item.gallery3(href="images/products/gal-coco1.jpg")
    a.gallery-item.gallery4(href="images/products/gal-coco4.jpg")
