.nutritional
  h2.nutri-title Tabla nutricional
  table.nutri-table
    tr
      th.nutri-head.nutri-end.nutri-sep.nutri-left(colspan="2") Información Nutrimental
    tr
      td.nutri-start.nutri-left Energía
      td.nutri-start.nutri-right 351 kcal
    tr
      td.nutri-left Proteína
      td.nutri-right 3.20 g
    tr
      td.nutri-left Grasa
      td.nutri-right 360 g
    tr
      td.nutri-left Carbohidratos
      td.nutri-right 3.70 g
    tr
      td.nutri-left Acidos grasos saturados
      td.nutri-right 27.84 g
    tr
      td.nutri-left Acidos grasos monoinsaturados
      td.nutri-right 2.14 g
    tr
      td.nutri-left Acidos grasos poliinsaturados
      td.nutri-right 0.55 g
    tr
      td.nutri-left Fibra
      td.nutri-right 13.60 g
    tr
      td.nutri-left Calcio
      td.nutri-right 13 mg
    tr
      td.nutri-left Hierro
      td.nutri-right 2.10 mg
    tr
      td.nutri-left Potasio
      td.nutri-right 440 mg
    tr
      td.nutri-left Fósforo
      td.nutri-right 94 mg
    tr
      td.nutri-left Magnesio
      td.nutri-right 52 mg
    tr
      td.nutri-left Sodio
      td.nutri-right 17 mg
    tr
      td.nutri-left Vitamina B6
      td.nutri-right 0.04 mg
    tr
      td.nutri-left Vitamina E
      td.nutri-right 0.70 mg
    tr
      td.nutri-left Vitamina C
      td.nutri-right 2.00 mg
    tr
      td.nutri-left Vitamina B1 (Tiamina)
      td.nutri-right 0.003 mg
    tr
      td.nutri-left Vitamina B2 (Rivoflavina)
      td.nutri-right 0.02 mg
    tr
      td.nutri-left Niacina
      td.nutri-right 0.30 mg
    tr
      td.nutri-close.nutri-left Acido fólico
      td.nutri-close.nutri-right 26.00 mg
  table.nutri-table
    tr
      th.nutri-head.nutri-end.nutri-sep.nutri-left.regular Componente
      th.nutri-head.nutri-end.nutri-sep.nutri-right.regular Contenido
    tr
      td.nutri-start.nutri-left Energía
      td.nutri-start.nutri-right 20 kcal
    tr
      td.nutri-left Proteínas
      td.nutri-right 0.1 g
    tr
      td.nutri-left Carbohidratos
      td.nutri-right 5.5 g
    tr
      td.nutri-left Lípidos
      td.nutri-right 0.05 g
    tr
      td.nutri-left Sodio
      td.nutri-right 25 mg
    tr
      td.nutri-left Potasio
      td.nutri-right 160 mg
    tr
      td.nutri-left Cloro
      td.nutri-right 20 mg
    tr
      td.nutri-left Calcio
      td.nutri-right 5 g
    tr
      td.nutri-left Fósforo
      td.nutri-right 0.4 mg
    tr
      td.nutri-close.nutri-left Magnesio
      td.nutri-close.nutri-right 0.45 mg
