.presentations
  h2.pres-title Presentaciones
  .pres-container
    .pres-item
      .pres-image
        .pres-box.pres1
      .pres-name Arpilla coco 40 piezas
    .pres-item
      .pres-image
        .pres-box.pres2
      .pres-name Caja plástica 40 libras
