.production
  .prod-frame
    .prod-wrapper
      h2.prod-title ¿Dónde se produce?
      p.prod-text.
        En el #[b Estado de Colima], concretamente en el 
        #[b Municipio de Tecomán], donde se localizan los 
        ranchos de cultivo de 
        #[b Coco SiCar Farms], existen las condiciones 
        idóneas para el cultivo de la palma de coco, por 
        ubicarse en una zona costera tropical; estando 
        además a tan solo sólo unos minutos de las 
        instalaciones de empaque y logística de envío de 
        #[b SiCar Farms].
    .prod-map
  a.prod-button(href="downloads/brochure_coconut.pdf" download="coco_destopado.pdf") Descargar ficha técnica PDF
