.ripening
  .rip-title Maduración y color
  .rip-fruit
    .rip-single
  .rip-info
    p.rip-text.
      La madurez del fruto se mide con base en el color de 
      su exterior y al contenido de agua, para lo cual se 
      debe sacudir el fruto y escuchar el sonido del líquido 
      que hay en su interior.#[br]
      #[br]
      El color del fruto depende de la variedad de éste. El de 
      #[b Coco SiCar Farms], que es de la variedad Alto 
      Pacífico, va avanzando de un verde intenso a amarillo, 
      hasta tomar un tono marrón o café. Su vida de anaquel 
      puede extenderse entre los 9 y los 11.5 meses, sin que 
      se haga rancio o amarillento, almacenándose a 
      temperaturas que oscilen entre los 10 y los 15.5ºC y 
      humedades relativas entre los 45 y los 55%.
