.sizes
  h2.sizes-title Tamaños
  table.table
    tr.table-row
      th.table-head(colspan="4") El calibre se determina por el diámetro máximo de la fruta.
    tr.table-row
      td.table-cell 13”
      td.table-cell 14”
      td.table-cell 15”
      td.table-cell 16”
