.cover#firstSection
  h1.cover-title Limón Mexicano
  a.cover-arrow(href="#secondSection")
.fruit-info#secondSection
  p.info-text.
    Fruto cítrico de jugo ácido, con semilla y cáscara 
    delgada. El Limón Mexicano SiCar Farms se produce 
    en los Estados de Colima y Michoacán.
