.gallery
  h2.gallery-title Galería
  p.gallery-desc.
    ¡Conoce más del 
    #[b Limón Mexicano SiCar Farms] en nuestra galería!
  br
  .gallery-gallery
    .gallery-item.gallery1
    .gallery-item.gallery2
    .gallery-item.gallery3
    .gallery-item.gallery4
    .gallery-item.gallery5
    .gallery-item.gallery6
    .gallery-item.gallery7
    .gallery-item.gallery8
