.gallery
  h2.gallery-title Galería
  p.gallery-desc.
    ¡Conoce más del 
    #[b Limón Mexicano SiCar Farms] en nuestra galería!
  br
  .gallery-gallery
    a.gallery-item.gallery1(href="images/products/gal-mx1.png")
    a.gallery-item.gallery2(href="images/products/gal-mx2.png")
    a.gallery-item.gallery3(href="images/products/gal-mx3.png")
    a.gallery-item.gallery4(href="images/products/gal-mx4.png")
    a.gallery-item.gallery5(href="images/products/gal-mx5.jpg")
    a.gallery-item.gallery6(href="images/products/gal-mx6.jpg")
    a.gallery-item.gallery7(href="images/products/gal-mx7.jpg")
    a.gallery-item.gallery8(href="images/products/gal-mx8.jpg")
