.nutritional
  h2.nutri-title Tabla nutricional
  table.nutri-table
    tr
      th.nutri-head.nutri-left(colspan="2") Información Nutrimental
    tr
      td.nutri-left(colspan="2") Limón Mexicano
    tr
      td.nutri-sep.nutri-left.nutri-end Tamaño de porción:
      td.nutri-sep.nutri-right.nutri-end 1 limón (67 g)
    tr
      td.nutri-start.nutri-left.bold(colspan="2") Cantidad por porción
    tr
      td.nutri-sep.nutri-left.nutri-end Contenido Energético
      td.nutri-sep.nutri-right.nutri-end 20 Kcal
    tr
      td.nutri-start.nutri-left.nutri-tall Proteínas
      td.nutri-start.nutri-right.nutri-tall 0.47 g
    tr
      td.nutri-left.nutri-tall Carbohidratos
      td.nutri-right.nutri-tall 7.06 g
    tr
      td.nutri-left.nutri-tall Lípidos totales
      td.nutri-right.nutri-tall 0.13 g
    tr
      td.nutri-left.nutri-tall Sodio
      td.nutri-right.nutri-tall 1 mg
    tr
      td.nutri-left.nutri-tall Calcio
      td.nutri-right.nutri-tall 22 mg
    tr
      td.nutri-close.nutri-left.nutri-tall Vitamina C
      td.nutri-close.nutri-right.nutri-tall 19.5 mg
    
