.presentations
  h2.pres-title Presentaciones
  .pres-container
    .pres-item
      .pres-image
        .pres-box.pres1
      .pres-name Caja exhibidora
    .pres-item
      .pres-image
        .pres-box.pres2
      .pres-name Caja exhibidora 2
    .pres-item
      .pres-image
        .pres-box.pres3
      .pres-name Caja 5 kilos
    .pres-item
      .pres-image
        .pres-box.pres4
      .pres-name Europack 10 libras
    .pres-item
      .pres-image
        .pres-box.pres5
      .pres-name Caja 40 libras
    .pres-item
      .pres-image
        .pres-box.pres6
      .pres-name Slape
    .pres-item
      .pres-image
        .pres-box.pres7
      .pres-name Malla 1 y 2 libras
    .pres-item
      .pres-image
        .pres-box.pres8
      .pres-name Sorma
    .pres-item
      .pres-image
        .pres-box.pres9
      .pres-name Arpilla 17, 18 y 25 kilos
    .pres-item
      .pres-image
        .pres-box.pres10
      .pres-name Caja plástica 10 kg
    .pres-item
      .pres-image
        .pres-box.pres11
      .pres-name Caja plástica 15 kg
    .pres-item
      .pres-image
        .pres-box.pres12
      .pres-name Caja plástica 20 kilos
    .pres-item
      .pres-image
        .pres-box.pres13
      .pres-name RPC
