.ripening
  .rip-title Maduración y color
  .rip-fruit
    .rip-slider.owl-carousel.owl-theme
      .rip-slide
        .rip-image.rip1
        p.rip-status Verde oscuro
      .rip-slide
        .rip-image.rip2
        p.rip-status Verde
      .rip-slide
        .rip-image.rip3
        p.rip-status Alimonado
      .rip-slide
        .rip-image.rip4
        p.rip-status Amarillo
  .rip-info
    p.rip-text.
      El color del fruto distingue también su grado de 
      maduración; yendo desde el verde oscuro, verde, 
      alimonado hasta el amarillo, cuando es su momento 
      de mayor madurez. La vida de anaquel va desde los 
      15 hasta los 25 días, dependiendo de las 
      condiciones de almacenaje; siendo la temperatura 
      ideal de conservación entre los 9 y 12º C.
