.sizes
  h2.sizes-title Tamaños
  p.sizes-text.
    El calibre se determina por el diámetro máximo
    de la sección ecuatorial del fruto, de acuerdo
    al cuadro que se muestra a continuación:
  br
  table.table.flex-table
    tr.table-row
      th.table-head Calibre / Size
      th.table-head Milímetros (Min-Max)
      th.table-head Piezas por Kg / Pieces per Kg
    tr.table-row
      td.table-cell No.2 / 600
      td.table-cell 32.1 - 35.00 mm
      td.table-cell 41 - 36
    tr.table-row
      td.table-cell No.3 / 500
      td.table-cell 35.1 - 37.00 mm
      td.table-cell 35 - 30
    tr.table-row
      td.table-cell No.4 / 400
      td.table-cell 37.1 - 39.00 mm
      td.table-cell 29 - 24
    tr.table-row
      td.table-cell No.5 / 300
      td.table-cell 32.9 - ''
      td.table-cell Menos de 24 piezas
