doctype html
html
  head
    title SiCarFarms
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1")
    link(rel="stylesheet" type="text/css" href="stylesheets/application.css")
    link(rel="stylesheet" type="text/css" href="owl.carousel/dist/assets/owl.carousel.min.css")
  body
    include header.pug
    block content
    include footer.pug

    script(src="jquery/dist/jquery.js")
    script(src="owl.carousel/dist/owl.carousel.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")
    script(src="javascripts/carousel.js")
    script(src="javascripts/home.js")
    script(src="javascripts/menu.js")
    script(src="javascripts/parallax.js")
    script(src="javascripts/ceiling.js")