doctype html
html
  head
    meta(charset="utf-8")
    title SiCarFarms
    link(rel="image_src" href="images/sicar_preview.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://www.sicar.com.mx/")
    meta(property="og:url" content="http://sicar.com.mx/")
    meta(property="og:title" content="SiCarFarms")
    meta(property="og:description" content="Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el trabajo dedicado y experto de las manos que participan en el desarrollo de nuestros productos".)
    meta(property="og:image" content="http://www.sicar.com.mx/images/sicar_preview.png")
    meta(property="og:image" content="http://sicar.com.mx/images/sicar_preview.png")
    meta(property="og:image:height" content="250")
    meta(property="og:image:width" content="250")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1")
    link(rel="icon" type="image/png" href="images/min/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="images/min/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="images/min/favicon-96x96.png" sizes="96x96")
    link(rel="stylesheet" type="text/css" href="stylesheets/application.min.css")
    link(rel="stylesheet" type="text/css" href="owl.carousel/dist/assets/owl.carousel.min.css")
  body
    include header.pug
    block content

    script(src="jquery/dist/jquery.js")
    script(src="owl.carousel/dist/owl.carousel.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")
    script(src="javascripts/application.min.js")
