.certifications
  h2.cert-title Certificaciones
  p.cert-desc En #[b SiCar Farms] valoramos los procesos de certificación como mecanismos consistentes para la mejora continua, la innovación, la investigación y el desarrollo.
  br
  .cert-item.cert1
  .cert-item.cert2
  .cert-item.cert3
  .cert-item.cert4
  .cert-item.cert5
