.footer-contact
  h3.contact-title Me interesa
  form.contact-form(method="post" action="contact/send")
    .form-text
      input.form-input#name(type="text" name="name" placeholder="Nombre" required)
    .form-text
      input.form-input#email(type="email" name="email" placeholder="E-mail" required)
    .form-select
      a.form-open.open-select(href="#" data-mfp-src="#form-popup") Frutas
      .form-popup.mfp-hide#form-popup
        p.select-title Selecciona las frutas que te interesan:
        label.select-container Lim칩n Mexicano
          input.checkbox(type="checkbox" name="fruits[0]" value="Limon Mexicano")
          span.checkmark
        label.select-container Lim칩n Persa
          input.checkbox(type="checkbox" name="fruits[1]" value="Limon Persa")
          span.checkmark
        label.select-container Tomate Roma
          input.checkbox(type="checkbox" name="fruits[2]" value="Tomate Roma")
          span.checkmark
        label.select-container Pi침a Miel (MD2)
          input.checkbox(type="checkbox" name="fruits[3]" value="Pi침a Miel (MD2)")
          span.checkmark
        label.select-container Coco Destopado
          input.checkbox(type="checkbox" name="fruits[4]" value="Coco Destopado")
          span.checkmark
        label.select-container Tamarindo
          input.checkbox(type="checkbox" name="fruits[5]" value="Tamarindo")
          span.checkmark
        button.select-close.mfp-close Confirmar
    .form-subject
      input.form-input#subject(type="text" name="subject" placeholder="Asunto" required)
    .form-btn
      input.form-submit#submit(type="submit" name="submit" value="Enviar")
