
<div class="contact">
  <h3 class="contact-title">Me interesa</h3>
  <form class="contact-form">
    <div class="form-text">
      <input class="form-input" type="text" name="nombre" id="nombre" placeholder="Nombre" required="required"/>
    </div>
    <div class="form-text">
      <input class="form-input" type="email" name="email" id="email" placeholder="E-mail" required="required"/>
    </div>
    <div class="form-select">
      <select class="form-input" name="interest" id="interest" placeholder="Fruta" required="required">
        <option value="" default="default" hidden="hidden">Fruta</option>
        <option value="lemon-mx">Limón Mexicano</option>
        <option value="lemon-ps">Limón Persa</option>
        <option value="tomatoe">Tomate Roma</option>
        <option value="pineapple">Piña Miel (MD2)</option>
        <option value="coconut">Coco Destopado</option>
        <option value="tamarind">Tamarindo</option>
      </select>
    </div>
    <div class="form-subject">
      <input class="form-input" type="text" name="subject" id="subject" placeholder="Asunto" required="required"/>
    </div>
    <div class="form-btn">
      <input class="form-submit" type="submit" name="submit" value="Enviar"/>
    </div>
  </form>
</div>