footer.footer
  img.footer-logo(src="images/min/logo-green.svg")
  .footer-nav
    h4.nav-label Explora
    .nav-left
      a.nav-item(href="/") Inicio
      br
      a.nav-item(href="/products") Productos
      br
      a.nav-item(href="/blog") Blog
      br
      a.nav-item(href="/contact") Contacto
    .nav-right
      a.nav-item(href="/we_are") We are
      br
      a.nav-item(href="/we_plant") We plant
      br
      a.nav-item(href="/we_pack") We pack
      br
      a.nav-item(href="/we_ship") We ship
      br
      a.nav-item(href="/we_care") We care
  .footer-info
    h4.info-title SicarFarms
    p.info-address.
      Carretera Tecomán El Real Km 1.1
      #[br]
      Las Palmas Infonavit
      #[br]
      Tecomán, Colima, México. C.P. 28159
      #[br]
      +52 313 324 1738 / ventas@sicar.com.mx
  .footer-social
    a.social-item(href="https://www.youtube.com/channel/UCusNQcd3N8WQbaXzFgV-qSQ")
      .social-youtube
      .social-label Visítanos en Youtube
  a.goto-ceiling(href="#firstSection" title="Reach the clouds!")
