footer.footer
  include contact-form.pug
  img.footer-logo(src="images/logo-green.svg")
  .footer-nav
    h4.nav-label Explora
    .nav-left
      a.nav-item(href="#") Inicio
      br
      a.nav-item(href="#") Productos
      br
      a.nav-item(href="#") Blog
      br
      a.nav-item(href="#") Contacto
    .nav-right
      a.nav-item(href="#") We are
      br
      a.nav-item(href="#") We plant
      br
      a.nav-item(href="#") We pack
      br
      a.nav-item(href="#") We ship
      br
      a.nav-item(href="#") We care
  .footer-info
    h4.info-title SicarFarms
    p.info-address.
      Carretera Tecomán El Real Km 1.1
      #[br]
      Las Palmas Infonavit
      #[br]
      Tecomán, Colima, México. C.P. 28159
  .footer-social
    a.social-item.social-facebook(href="#")
    a.social-item.social-youtube(href="#")
    a.social-item.social-vimeo(href="#")
    a.social-item.social-twitter(href="#")
  a.goto-ceiling(href="#firstSection" title="Reach the clouds!")