.header
  a(href="/")
    img.header-logo(src="images/min/logo.svg")
  .header-options
    .lang-menu
      p.lang-label Idioma
      a.lang-option.lang-active Es
      span &nbsp;&nbsp;/&nbsp;&nbsp;
      a.lang-option En
  nav.nav
.menu-burger
include menu.pug
