.menu-bg
.menu-content
  .menu-wrapper
    a.menu-link(href="/") Inicio
    a.menu-link(href="/we_are") We are
    a.menu-link(href="#") We plant
    a.menu-link(href="#") We pack
    a.menu-link(href="#") We ship
    a.menu-link(href="#") We care
    a.menu-link.menu-hover(href="#") Productos
    .submenu
      a.menu-sublink(href="#") Limón mexicano
      span &nbsp;/&nbsp;
      a.menu-sublink(href="#") Limón persa
      br
      a.menu-sublink(href="#") Piña
      span &nbsp;/&nbsp;
      a.menu-sublink(href="#") Tomate
      span &nbsp;/&nbsp;
      a.menu-sublink(href="#") Coco
      span &nbsp;/&nbsp;
      a.menu-sublink(href="#") Tamarindo
    a.menu-link(href="#") Blog
    a.menu-link(href="#") Contacto
  .menu-social
    a.social-item.social-facebook(href="#")
    a.social-item.social-youtube(href="#")
    a.social-item.social-vimeo(href="#")
    a.social-item.social-twitter(href="#")