.menu-bg
.menu-content
  .menu-wrapper
    a.menu-link(href="/") Inicio
    a.menu-link(href="/we_are") We are
    a.menu-link(href="/we_plant") We plant
    a.menu-link(href="/we_pack") We pack
    a.menu-link(href="/we_ship") We ship
    a.menu-link(href="/we_care") We care
    a.menu-link.menu-hover(href="/products") Productos
    .submenu
      a.menu-sublink(href="/mexican_lemon") Limón mexicano
      span &nbsp;/&nbsp;
      a.menu-sublink(href="persian_lemon") Limón persa
      br
      a.menu-sublink(href="/pineapple") Piña
      span &nbsp;/&nbsp;
      a.menu-sublink(href="/tomatoe") Tomate
      span &nbsp;/&nbsp;
      a.menu-sublink(href="/coconut") Coco
      span &nbsp;/&nbsp;
      a.menu-sublink(href="/tamarind") Tamarindo
    a.menu-link(href="/news") Blog
    a.menu-link(href="/contact") Contacto
  .menu-social
    a.social-item.social-facebook(href="#")
    a.social-item.social-youtube(href="#")
    a.social-item.social-vimeo(href="#")
    a.social-item.social-twitter(href="#")
