.cover-slider {

  .cover-slide {
    height: 100vh;
    width: 100%;
  }

  .owl-stage-outer {
    overflow: visible !important;
  }

  .owl-prev {
    @include center(false,true);

    background-color: $polarized;
    height: 94px;
    width: 56px;

    @include extra-small {
      height: 64px;
      width: 34px;
    }

    .left-arrow {
      @include center(true,true);

      background: url('../images/min/icons/prev.svg') center/contain no-repeat;
      height: 36px;
      width: 21px;

      @include extra-small {
        height: 24px;
        width: 17px;
      }
    }
  }

  .owl-next {
    @include center(false,true);

    background-color: $polarized;
    height: 94px;
    right: 0;
    width: 56px;

    @include extra-small {
      height: 64px;
      width: 34px;
    }

    .right-arrow {
      @include center(true,true);

      background: url('../images/min/icons/next.svg') center/contain no-repeat;
      height: 36px;
      width: 21px;

      @include extra-small {
        height: 24px;
        width: 17px;
      }
    }
  }
}