.header {
  @include linear-gradient($polarized,transparent);

  position: fixed;
  height: 90px;
  top: 0;
  width: 100%;
  z-index: 999;

  .header-logo {
    margin: 30px 0 0 33px;
    width: 235px;
  }

  .header-options {
    float: right;
    margin: 38px 38px 0 0;
  }

  .lang-menu {
    color: $white;
    display: inline-block;
    font-family: Raleway-SemiBold;
    font-size: 14px;
    text-transform: uppercase;
  }

  .lang-label {
    text-align: right;
  }

  .lang-option {
    &.lang-active {
      text-decoration: underline;
    }
  }

  .menu-burger {
    background: url('../images/icons/menu.svg') center/contain no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    margin-left: 30px;
    width: 34px;
  }
}