.header {
  @include linear-gradient($polarized,transparent);

  position: fixed;
  height: 90px;
  top: 0;
  width: 100%;
  z-index: 300;

  @include extra-small {
    height: 50px;
  }

  .header-logo {
    margin: 30px 0 0 33px;
    width: 235px;

    @include extra-small {
      margin: 15px 0 0 15px;
      width: 150px;
    }
  }

  .header-options {
    float: right;
    margin: 38px 104px 0 0;

    @include extra-small {
      margin: 20px 66px 0 0;
    }
  }

  .lang-menu {
    color: $white;
    //display: inline-block;
    display: none;
    font-family: Raleway-SemiBold;
    font-size: 14px;
    text-transform: uppercase;

    @include extra-small {
      font-size: 13px;
    }
  }

  .lang-label {
    text-align: right;
  }

  .lang-option {
    &.lang-active {
      text-decoration: underline;
    }
  }
}
