.strip.strip2
  .strip-text
    .strip-wrapper
      h3.strip-title.strip-override Servicios de logística
      p.strip-paragraph.
        Nuestros productos pueden trasladarse a su vez por vía 
        #[b aérea y terrestre]; siempre bajo la asesoría y 
        atención de nuestro equipo de expertos que harán que los 
        productos lleguen conforme a pedido y condiciones a 
        cualquiera de los destinos comprometidos.
