.strip.strip-right.strip1
  .strip-text
    .strip-wrapper
      h3.strip-title Autotransportes
      p.strip-paragraph.
        Contamos con nuestra flota de 
        #[b Thermo King Trailers] para distribuir nuestros productos 
        refrigerados por vía terrestre a cualquier destino nacional, 
        sobrepasando la frontera con los Estados Unidos de Norte América.
