extends layouts/application.pug
block content
  .coconut
    include coconut/cover.pug
    include coconut/presentations.pug
    include coconut/ripening.pug
    include coconut/sizes.pug
    include coconut/nutritional.pug
    include coconut/production.pug
    include coconut/gallery.pug
    include layouts/footer-contact.pug
