extends layouts/application.pug
block content
  .mx-lemon
    include mx_lemon/cover.pug
    include mx_lemon/presentations.pug
    include mx_lemon/ripening.pug
    include mx_lemon/sizes.pug
    include mx_lemon/nutritional.pug
    include mx_lemon/production.pug
    include mx_lemon/gallery.pug
    include layouts/footer-contact.pug
