extends layouts/application.pug
block content
  .ps-lemon
    include ps_lemon/cover.pug
    include ps_lemon/presentations.pug
    include ps_lemon/ripening.pug
    include ps_lemon/sizes.pug
    include ps_lemon/nutritional.pug
    include ps_lemon/production.pug
    include ps_lemon/gallery.pug
    include layouts/footer-contact.pug
