extends layouts/application.pug
block content
  .pineapple
    include pineapple/cover.pug
    include pineapple/presentations.pug
    include pineapple/ripening.pug
    include pineapple/sizes.pug
    include pineapple/nutritional.pug
    include pineapple/production.pug
    include pineapple/gallery.pug
    include layouts/footer-contact.pug
