extends layouts/application.pug
block content
  .tamarind
    include tamarind/cover.pug
    include tamarind/presentations.pug
    include tamarind/features.pug
    include tamarind/ripening.pug
    include tamarind/sizes.pug
    include tamarind/nutritional.pug
    include tamarind/production.pug
    include layouts/footer-contact.pug
