extends layouts/application.pug
block content
  .tomatoe
    include tomatoe/cover.pug
    include tomatoe/presentations.pug
    include tomatoe/ripening.pug
    include tomatoe/sizes.pug
    include tomatoe/nutritional.pug
    include tomatoe/production.pug
    include tomatoe/gallery.pug
    include layouts/footer-contact.pug
