.cover#firstSection
  video.we-video#we-video(playsinline autoplay muted loop poster="images/min/we_are/we-are-bg.jpg")
    source(src="videos/we-are-bg.mp4" type="video/mp4")
  .cover-layer
    a.cover-btn Ver video
    a.cover-arrow(href="#secondSection")
