.facilities
  h2.facilities-title Instalaciones generales
  p.facilities-desc.
    #[b SiCar Farms] es una #[b empresa mexicana] propietaria de 
    #[b invernaderos, ranchos, laboratorios, empacadoras e instalaciones administrativas] 
    y de servicios de logística. Tenemos presencia en los estados de 
    #[b Colima, Jalisco, Michoacán] y 
    #[b Veracruz].
  br
  .facilities-gallery
    .facilities-item.facilities1
      p.facilities-text Vivero
    .facilities-item.facilities2
      p.facilities-text Vivero
    .facilities-item.facilities3
      p.facilities-text Ranchos
    .facilities-item.facilities4
      p.facilities-text Ranchos
    .facilities-item.facilities5
      p.facilities-text Laboratorios
    .facilities-item.facilities6
      p.facilities-text Empacadoras
    .facilities-item.facilities7
      p.facilities-text Empacadoras
    .facilities-item.facilities8
      p.facilities-text Exteriores
