.facilities
  h2.facilities-title Instalaciones generales
  p.facilities-desc.
    #[b SiCar Farms] es una #[b empresa mexicana] propietaria de 
    #[b invernaderos, ranchos, laboratorios, empacadoras e instalaciones administrativas] 
    y de servicios de logística. Tenemos presencia en los estados de 
    #[b Colima, Jalisco, Michoacán] y 
    #[b Veracruz].
  br
  .facilities-gallery
    a.facilities-item.facilities1(href="images/we_are/install-big1.jpg")
      p.facilities-text Vivero
    a.facilities-item.facilities2(href="images/we_are/install-big2.jpg")
      p.facilities-text Vivero
    a.facilities-item.facilities3(href="images/we_are/install-big3.jpg")
      p.facilities-text Ranchos
    a.facilities-item.facilities4(href="images/we_are/install-big4.jpg")
      p.facilities-text Ranchos
    a.facilities-item.facilities5(href="images/we_are/install-big5.jpg")
      p.facilities-text Laboratorios
    a.facilities-item.facilities6(href="images/we_are/install-big6.jpg")
      p.facilities-text Empacadoras
    a.facilities-item.facilities7(href="images/we_are/install-big7.jpg")
      p.facilities-text Empacadoras
    a.facilities-item.facilities8(href="images/we_are/install-big8.jpg")
      p.facilities-text Exteriores
