.history
  h2.history-title Nuestra historia
  .history-slider.owl-carousel.owl-theme
    .history-slide
      h4.history-year 1992
      p.history-paragraph.
        Nace #[b “Limones del Carmen”] el #[b 8 de mayo] en la ciudad de #[b Tecomán], #[b Colima]; formándose la sociedad para #[b Empaque de Limón] en la #[b costa del Océano Pacífico de México].
    .history-slide.alt
      h4.history-year 1994
      p.history-paragraph.
        Nace #[b SiCar], estableciéndose #[b SiCar S.A. de C.V.], en el Valle de Tecomán, Colima, dedicada a la comercialización de #[b Limón Mexicano y Coco], con #[b 240 hectáreas].
    .history-slide
      h4.history-year 2004
      p.history-paragraph.
        Inauguración de la #[b bodega en McAllen Texas] para #[b expandir su mercado].
    .history-slide.alt
      h4.history-year 2007
      p.history-paragraph.
        Inician las operaciones de un #[b nuevo centro de empaque] aditado con #[b 2 líneas de producción] en #[b Tecomán, Colima].
    .history-slide
      h4.history-year 2008
      p.history-paragraph.
        Inicio de #[b exportaciones al continente asiático], en #[b Japón].
    .history-slide.alt
      h4.history-year 2013
      p.history-paragraph.
        Se introduce #[b Limón Persa] en la #[b familia de productos SiCar].
    .history-slide
      h4.history-year 2014
      p.history-paragraph.
        #[b Daniel Gudiño Ochoa, Ingeniero Químico Agrónomo], toma la #[b Dirección de la compañía]; pasando la #[b Sra. Ma. Carmen Ochoa de Gudiño], como #[b Presidenta del Consejo] de la compañía.
    .history-slide.alt
      h4.history-year 2015
      p.history-paragraph.
        Inauguración del #[b nuevo Centro de Empaque], exclusivo para trabajo de Limón Persa, en #[b Martinez de la Torre, Veracruz]; a #[b 197 km del Puerto de Veracruz], en el #[b Golfo de México].
    .history-slide
      h4.history-year 2015
      p.history-paragraph.
        Se establece el nuevo #[b Centro de Empaque y Distribución] en #[b Apatzingán, Michoacán]; con una capacidad de trabajar #[b 400 toneladas por día]; para #[b empacar] ambas variedades: #[b Limón Persa y Mexicano].
    .history-slide.alt
      h4.history-year 2016
      p.history-paragraph.
        Se inician las #[b exportaciones] a #[b Europa].#[br]La #[b empresa cambia su nombre] y nace #[b SiCar Farms].
    .history-slide
      h4.history-year 2017
      p.history-paragraph.
        Introducción de nuevos productos: #[b Piña], en su variedad #[b MD2 y Tomate Saladette]; con una #[b capacidad de producción] de #[b 150 toneladas diarias].
    .history-slide.alt
      h4.history-year 2017
      p.history-paragraph.
        #[b SiCar Farms extiende] sus #[b sembradíos] para la producción de #[b Limón a más de 1000 hectáreas].
    .history-slide
      h4.history-year 2017
      p.history-paragraph.
        Arranque de la #[b construcción] de instalaciones #[b nuevo Empaque] en #[b Veracruz], equipadas con #[b tecnología de punta] y con una #[b capacidad] para producir #[b 400 toneladas por día].
