.card.mission
  .card-text
    .card-wrapper
      h3.card-title Misión
      p.card-paragraph.
        Representar al sector agrícola mexicano como un productor innovador y 
        comercializador confiable de productos frescos. Nuestro compromiso es 
        asegurar que con el trabajo, esfuerzo y desarrollo de nuestra gente 
        somos capaces de garantizar los estándares más altos de calidad, 
        inocuidad y sustentabilidad.
