.values
  h2.values-title Valores
  .values-slider.owl-carousel.owl-theme
    .values-slide
      .value-image.value1
        .value-icon
      .value-text
        .value-wrapper
          h3.value-title Trabajo y cumplimiento de resultados
          p.value-paragraph.
            Para que sean un medio de crecimiento y desarrollo integral.
    .values-slide
      .value-image.value2
        .value-icon
      .value-text
        .value-wrapper
          h3.value-title Honestidad y veracidad
          p.value-paragraph.
            Para que se constituyan en la guía de conducta y el fortalecimiento 
            de la confianza.
    .values-slide
      .value-image.value3
        .value-icon
      .value-text
        .value-wrapper
          h3.value-title Colaboración, esfuerzo y solidaridad
          p.value-paragraph.
            Para que nos distingan como fórmula de trabajo y garanticen la 
            continuidad del negocio.
    .values-slide
      .value-image.value4
        .value-icon
      .value-text
        .value-wrapper
          h3.value-title Respeto y compañerismo
          p.value-paragraph.
            Como garantía de integración y consideración que tenemos por las 
            personas.
    .values-slide
      .value-image.value5
        .value-icon
      .value-text
        .value-wrapper
          h3.value-title Investigación e innovación
          p.value-paragraph.
            Como ventaja competitiva para el grupo en el mercado.
    .values-slide
      .value-image.value6
        .value-icon
      .value-text
        .value-wrapper
          h3.value-title Respeto por el medio ambiente y compromiso con la comunidad
          p.value-paragraph.
            Como principio de nuestras operaciones.
    .values-slide
      .value-image.value7
        .value-icon
      .value-text
        .value-wrapper
          h3.value-title Lealtad y compromiso
          p.value-paragraph.
            Para que constituyan el factor de unidad y fortaleza en nuestro 
            grupo.
          
