.card.card-right.vision
  .card-text
    .card-wrapper
      h3.card-title Visión
      p.card-paragraph.
        Aspiramos a ser el grupo mexicano productor y comercializador más 
        consolidado y mejor posicionado en el mercado de frescos, con fuerte 
        presencia  en el mercado internacional, queremos ser reconocidos por el 
        cumplimiento de las políticas nacionales e internacionales de calidad, 
        inocuidad, sustentabilidad, seguridad y de ambiente laboral.
