section.we-content#secondSection
  include history.pug
  include mission.pug
  include vision.pug
  include values.pug
  include facilities.pug
  include ../layouts/certifications.pug
  include ../layouts/address.pug
