.color
  h2.color-title Color
  .color-fruit
    .color-single
  .color-info
    p.color-text.
      #[b Al principio]
      #[br]
      Vaina: Canela o gris-marrón externamente
      #[br]
      Pulpa: Verde de color clanquecino
      #[br]#[br]
      #[b Conforme madura]
      #[br]
      Pulpa: Marrón o marrón rojizo
