.cover#firstSection
  h1.cover-title Tamarindo
  a.cover-arrow(href="#secondSection")
.fruit-info#secondSection
  p.info-text.
    Árbol tropical de hasta 12 m de altura con hojas 
    plumosas pinadas. Su fruta es curva, con la 
    forma de una vaina aplanada, varias veces ceñida 
    entre cada una de sus semillas. La fruta puede 
    emplearse en técnicas medicinales y en la cocina. 
    La pulpa del fruto se distingue por un sabor que 
    va desde el agridulce al dulce y por sus semillas 
    envueltas por una membrana. En la gastronomía se 
    emplea para preparar bebidas, dulces, postres, 
    salsas, adobos, encurtidos, entre muchos otras 
    delicias.
