.features
  .feat-title Características
  .feat-fruit
    .feat-single
  .feat-info
    .feat-text
      p Las principales características sobre la calidad de la fruta son:
      br
      ul.feat-list
        li Color de la cáscara pardo
        li Color de la pulpa café obscuro
        li Formas propias del fruto: alargada semicurva
        li Libre de patógenos
        li Bajo grado de humedad
        li Apariencia y color adecuados (libres de manchas)
        li Tamaño de fruto: de 6 a 20 cm de longitud
        li Libres de impurezas
