.nutritional
  h2.nutri-title Tabla nutricional
  table.nutri-table
    tr
      th.nutri-head.nutri-left(colspan="2") Información Nutrimental
    tr
      td.nutri-end.nutri-sep.nutri-left(colspan="2") Por cada 100 grs de Tamarindo
    tr
      td.nutri-start.nutri-left.nutri-tall Proteínas
      td.nutri-start.nutri-right.nutri-tall 2.8 g
    tr
      td.nutri-left.nutri-tall Calorías
      td.nutri-right.nutri-tall 239 mg
    tr
      td.nutri-left.nutri-tall Sodio
      td.nutri-right.nutri-tall 28 mg
    tr
      td.nutri-left.nutri-tall Potasio
      td.nutri-right.nutri-tall 628 mg
    tr
      td.nutri-left.nutri-tall Vitamina C
      td.nutri-right.nutri-tall 3.5 mg
    tr
      td.nutri-left.nutri-tall Hierro
      td.nutri-right.nutri-tall 2.8 mg
    tr
      td.nutri-close.nutri-left.nutri-tall Hidratos de carbono
      td.nutri-close.nutri-right.nutri-tall 63 g

    
