.presentations
  h2.pres-title Presentaciones
  .pres-container
    .pres-item
      .pres-image
        .pres-box.pres1
      .pres-name Caja 40 libras (18 kg)
    .pres-item
      .pres-image
        .pres-box.pres2
      .pres-name Caja 27 libras (12 kg)
