.production
  .prod-frame
    .prod-wrapper
      h2.prod-title ¿Dónde se produce?
      p.prod-text.
        Las regiones tropicales son ideales para 
        el cultivo del tamarindo. En 
        #[b SiCar Farms] lo cultivamos en el 
        #[b Estado de Colima], debido a las 
        excelentes condiciones solares y de drenaje 
        que esta región ofrece y que propician un 
        fruto de óptimas cualidades.
    .prod-map
  a.prod-button(href="downloads/brochure_tamarind.pdf" download="tamarindo.pdf") Descargar ficha técnica PDF
