.ripening.tamarind
  h2.rip-title Maduración
  .rip-fruit
    .rip-single
  .rip-info
    p.rip-text.
      El tamarindo muestra una piel suave y 
      una pulpa verde ácida al nacer.
      Conforme va madurando la masa va 
      adquiriendo dulzor y jugocidad, hasta 
      que se convierte en una pasta con hilos 
      fibrosos y pegajosa. Su cáscara se hace 
      quebradiza y las semillas obtienen 
      mayor dureza.
      
