.sizes.tamarind
  h2.sizes-title Tamaño
  .sizes-fruit
    .sizes-single
  .sizes-info
    p.sizes-text.
      Sus dimensiones son desde 
      cinco hasta diecisiete 
      centímetros de largo y de dos a 
      tres y medio centímetros de 
      diámetro.
