.certifications {
  display: inline-block;
  font-family: Raleway-SemiBold;
  margin: 8em 0;
  padding: 0 10vw;
  position: relative;
  width: 100%;
  z-index: 3;

  @include extra-large {
    padding: 0;
  }

  .cert-title {
    @include section-title;
  }

  .cert-desc {
    color: $white;
    display: inline-block;
    font-size: 1.8em;
    margin: 0.4em 0 2em;
    max-width: 800px;
    padding: 0 15px;
  }

  .cert-container {
    display: inline-block;
    max-width: 1200px;
  }

  .cert-item {
    display: inline-block;
    height: 150px;
    margin: 3em 4em;
    width: 300px;

    @include medium {
      height: 100px;
      margin: 2em;
      width: 250px;
    }

    @include small {
      height: 75px;
      margin: 1em 0.5em;
      width: 225px;
    }

    @include extra-small {
      margin: 1em 0 2em;
    }
  }

  .cert1 { background: url('../images/min/home/certification-1.png') center/contain no-repeat; }
  .cert2 { background: url('../images/min/home/certification-2.svg') center/contain no-repeat; }
  .cert3 { background: url('../images/min/home/certification-3.svg') center/contain no-repeat; }
  .cert4 { background: url('../images/min/home/certification-4.svg') center/contain no-repeat; }
  .cert5 { background: url('../images/min/home/certification-5.png') center/contain no-repeat; }
}
