.cover#firstSection
  h1.cover-title Piña#[br] Miel (MD2)
  a.cover-arrow(href="#secondSection")
.fruit-info#secondSection
  p.info-text.
    Fruta tropical de sabor dulce. Su forma es 
    ovalada y gruesa. Mide aproximadamente 30 
    cm de largo y 15 cm de diámetro. Se produce 
    en el estado de Colima.
