.gallery
  h2.gallery-title Galería
  p.gallery-desc.
    ¡Conoce más de la 
    #[b Piña Miel (MD2) SiCar Farms] en nuestra galería!
  br
  .gallery-gallery
    a.gallery-item.gallery1(href="images/products/gal-pine1.jpg")
    a.gallery-item.gallery2(href="images/products/gal-pine2.jpg")
    a.gallery-item.gallery3(href="images/products/gal-pine3.jpg")
    a.gallery-item.gallery4(href="images/products/gal-pine4.jpg")
