.nutritional
  h2.nutri-title Tabla nutricional
  table.nutri-table
    tr
      th.nutri-head.nutri-left(colspan="2") Información Nutrimental
    tr
      td.nutri-end.nutri-sep.nutri-left(colspan="2") Por cada 100 grs de Piña
    tr
      td.nutri-start.nutri-left Calorías Piña
      td.nutri-start.nutri-right 50.76 Kcal
    tr
      td.nutri-left Grasa
      td.nutri-right 0.40 g
    tr
      td.nutri-left Colesterol
      td.nutri-right 0 mg
    tr
      td.nutri-left Sodio
      td.nutri-right 2.10 mg
    tr
      td.nutri-left Carbohidratos
      td.nutri-right 10.40 g
    tr
      td.nutri-left Fibra
      td.nutri-right 1.90 g
    tr
      td.nutri-left Azúcares
      td.nutri-right 10.40 g
    tr
      td.nutri-left Proteínas
      td.nutri-right 0.44 g
    tr
      td.nutri-left Calcio
      td.nutri-right 15.50 mg
    tr
      td.nutri-left Vitamina A
      td.nutri-right 6.13 ug
    tr
      td.nutri-left Vitamina B3
      td.nutri-right 0.39 mg
    tr
      td.nutri-left Vitamina C
      td.nutri-right 14.99 mg
    tr
      td.nutri-close.nutri-left Hierro
      td.nutri-close.nutri-right 0.41 mg
