.presentations
  h2.pres-title Presentaciones
  .pres-container
    .pres-item
      .pres-image
        .pres-box.pres1
      .pres-name Caja plástica 20 kilos
    .pres-item
      .pres-image
        .pres-box.pres2
      .pres-name Caja cartón 12 kilos
