.production
  .prod-frame
    .prod-wrapper
      h2.prod-title ¿Dónde se produce?
      p.prod-text.
        La #[b Piña Miel (MD2) SiCar Farms] se produce 
        en los estados de #[b Colima y Veracruz].
    .prod-map
  a.prod-button(href="downloads/brochure_pineapple.pdf" download="pina_miel_MD2.pdf") Descargar ficha técnica PDF
