.ripening
  .rip-title Maduración y color
  .rip-fruit
    .rip-slider.owl-carousel.owl-theme
      .rip-slide
        .rip-image.rip1
        p.rip-status Verde o sazona
      .rip-slide
        .rip-image.rip2
        p.rip-status Un cuarto
      .rip-slide
        .rip-image.rip3
        p.rip-status Media clara
      .rip-slide
        .rip-image.rip4
        p.rip-status Tres cuartos
      .rip-slide
        .rip-image.rip5
        p.rip-status Madura
  .rip-info
    table.table
      tr
        th.table-head Designación
        th.table-head.left-cell Descripción
      tr
        td.table-cell Verde o sazona
        td.table-cell.left-cell.small-cell.
          Es aquella en la que la coloración amarilla cubre 
          el 0 - 10% de la superficie del cuerpo de la fruta.
      tr
        td.table-cell Un cuarto
        td.table-cell.left-cell.small-cell.
          Es aquella en la que la coloración amarilla cubre 
          el 11 - 25% de la superficie del cuerpo de la fruta.
      tr
        td.table-cell Media clara
        td.table-cell.left-cell.small-cell.
          Es aquella en la que la coloración amarilla cubre 
          el 26 - 50% de la superficie del cuerpo de la fruta.
      tr
        td.table-cell Tres cuartos
        td.table-cell.left-cell.small-cell.
          Es aquella en la que la coloración amarilla cubre 
          el 51 - 80% de la superficie del cuerpo de la fruta.
      tr
        td.table-cell Madura
        td.table-cell.left-cell.small-cell.
          Es aquella en la que la coloración amarilla cubre 
          el 81 - 100% de la superficie del cuerpo de la fruta.
