.sizes
  h2.sizes-title Tamaños
  table.table
    tr.table-row
      th.table-head Número
      th.table-head Designación
      th.table-head Rango de peso en Kg.
      th.table-head Rango de peso en Lb.
    tr.table-row
      td.table-cell 6
      td.table-cell A
      td.table-cell 2,750 - 3,000
      td.table-cell 6.05 - 7.27
    tr.table-row
      td.table-cell 8
      td.table-cell B
      td.table-cell 2,150 - 2,750
      td.table-cell 4.73  6.05
    tr.table-row
      td.table-cell 10
      td.table-cell C
      td.table-cell 1,750 - 2,150
      td.table-cell 3.85 - 4.73
    tr.table-row
      td.table-cell 12
      td.table-cell D
      td.table-cell 1,500 - 1,750
      td.table-cell 3.30 3.85
    tr.table-row
      td.table-cell 14
      td.table-cell E
      td.table-cell 1,200 - 1,500
      td.table-cell 2.64 - 3.30
