section.fruits
  .bubble-item
    .bubble-image.bubble-img1
    .bubble-text
      .bubble-wrapper
        h3.bubble-title We are
        p.bubble-paragraph Más de #[b 25 años de experiencia]  nos ubican como una empresa líder en el  sector agrícola. El sello de excelencia #[b SiCar Farms] integra a cítricos, frutas y hortalizas.
        a.bubble-btn Ver más
  br
  .bubble-item
    .bubble-image.bubble-img2.bubble-right
    .bubble-text.bubble-right
      .bubble-wrapper
        h3.bubble-title We plant
        p.bubble-paragraph Actualmente contamos con poco más de #[b 3,000 hectáreas] de cultivo, distribuidas entre Limón Mexicano, Limón Persa, Piña MD2, Coco Destopado, Tamarindo y Tomate Roma. 
        a.bubble-btn Ver más
  br
  .bubble-item
    .bubble-image.bubble-img3
    .bubble-text
      .bubble-wrapper
        h3.bubble-title We pack
        p.bubble-paragraph Contamos con #[b 4 centros] de empaque, equipados con tecnología que permite una selección sistematizada que acelara nuestro proceso para alcanzar las #[b 500 toneladas] diarias.
        a.bubble-btn Ver más
  br
  .bubble-item
    .bubble-image.bubble-img4.bubble-right
    .bubble-text.bubble-right
      .bubble-wrapper
        h3.bubble-title We ship
        p.bubble-paragraph El servicio #[b competente y personalizado] de nuestros agentes comerciales tiene la capacidad de brindar asesoría especializada en servicios de logística terrestre, aérea y marítima.
        a.bubble-btn Ver más
  br
  .bubble-item
    .bubble-image.bubble-img5
    .bubble-text
      .bubble-wrapper
        h3.bubble-title We care
        p.bubble-paragraph Valoramos y  respetamos el trabajo de nuestro personal y juntos colaboramos en el cumplimiento de las políticas nacionales e internacionales de #[b calidad, inocuidad, sustentabilidad, seguridad y ambiente laboral.]
        a.bubble-btn Ver más
  br
  .slogan
    .slogan-text
  .certifications
    h2.cert-title Certificaciones
    p.cert-desc En #[b SiCar Farms] valoramos los procesos de certificación como mecanismos consistentes para la mejora continua, la innovación, la investigación y el desarrollo.
    br
    .cert-item.cert1
    .cert-item.cert2
    .cert-item.cert3
    .cert-item.cert4
    .cert-item.cert5
  include ../layouts/address.pug