section.hero#firstSection
  .cover-slider.owl-carousel.owl-theme
    .cover-slide.hero-slide1
      img.hero-slogan(src="images/min/hero/slogan.svg")
      .hero-wrapper
        a.go-product(href="/products") Ver productos
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide2
      h2.hero-title Limón Mexicano
      .hero-wrapper
        a.go-product(href="/mexican_lemon") Ver producto
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide3
      h2.hero-title Limón Persa
      .hero-wrapper
        a.go-product(href="/persian_lemon") Ver producto
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide4
      h2.hero-title Piña Miel (MD2)
      .hero-wrapper
        a.go-product(href="/pineapple") Ver producto
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide5
      h2.hero-title Tomate Roma
      .hero-wrapper
        a.go-product(href="/tomatoe") Ver producto
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide6
      h2.hero-title Coco Destopado
      .hero-wrapper
        a.go-product(href="/coconut") Ver producto
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide7
      h2.hero-title Tamarindo
      .hero-wrapper
        a.go-product(href="/tamarind") Ver producto
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
