$aqua:      #7AC89C;
$black:     #000000;
$clay:      #F18A29;
$coconut:   #D48D4D;
$grass:     #037F49;
$greenish:  #EFFFDE;
$honey:     #ECC40E;
$leaf:      #28AC01;
$lemon-mx:  #88D43B;
$lemon-ps:  #BBD43B;
$lime:      #C2CD00;
$mint:      #34B58F;
$orange:    #F18B28;
$peach:     #F17B28;
$pineapple: #F1C319;
$pomelo:    #F15733;
$smoke:     #4E4F51;
$stone:     #7F8181;
$sunny:     #F1D719;
$tomatoe:   #F15733;
$tamarind:  #844A16;
$water:     #6FBDED;
$white:     #FFFFFF;

$sicar-green: #88D43B;

$glass:     rgba($white, .5);
$hulkeye:   rgba(40,172,1,0.8);
$polarized: rgba($black, .5);
