$black:     #000000;
$coconut:   #D48D4D;
$grass:     #037F49;
$honey:     #ECC40E;
$lemon-mx:  #88D43B;
$lemon-ps:  #BBD43B;
$pineapple: #F1C319;
$tomatoe:   #F15733;
$tamarind:  #844A16;
$white:     #FFFFFF;

$sicar-green: #88D43B;

$glass:     rgba($white, .5);
$polarized: rgba($black, .5);