$ashes:     #9B9B9B;
$asphalt:   #3A3A3C;
$aqua:      #7AC89C;
$black:     #000000;
$clay:      #F18A29;
$coconut:   #D48D4D;
$grass:     #037F49;
$grave:     #757779;
$greenish:  #EFFFDE;
$honey:     #ECC40E;
$leaf:      #28AC01;
$lemon-mx:  #88D43B;
$lemon-ps:  #BBD43B;
$lime:      #C2CD00;
$mint:      #34B58F;
$mustard:   #DEB603;
$orange:    #F18B28;
$peach:     #F17B28;
$pineapple: #F1C319;
$pomelo:    #F15733;
$smoke:     #4E4F51;
$stone:     #7F8181;
$sunny:     #F1D719;
$tomatoe:   #F15733;
$tamarind:  #844A16;
$water:     #6FBDED;
$white:     #FFFFFF;

$sicar-green: #88D43B;

$lemon-tone1: #497D2E;
$lemon-tone2: #569B32;
$lemon-tone3: #8DD32B;
$lemon-tone4: #E0F161;
$pnapl-tone1: #497D2E;
$pnapl-tone2: #738F29;
$pnapl-tone3: #9DA024;
$pnapl-tone4: #C7B21E;
$pnapl-tone5: #F1C319;
$tomat-tone1: #497D2E;
$tomat-tone2: #69742D;
$tomat-tone3: #886B2D;
$tomat-tone4: #A8612C;
$tomat-tone5: #C7582C;
$tomat-tone6: #E74F2B;

$table-head:  #249B00;
$table-cell:  #FFFFFF;
$table-text:  #4E4F51;

$glass:     rgba($white, .5);
$hulkeye:   rgba(40,172,1,0.8);
$polarized: rgba($black, .5);
