.strip.strip2
  .strip-text
    .strip-wrapper
      h3.strip-title Nuestros laboratorios
      p.strip-paragraph.
        Hacemos importantes inversiones en nuestros laboratorios de 
        #[b control biológico], orientados con una 
        #[b visión sustentable] y conocedores del inmenso aporte que brinda 
        la experiencia, el conocimiento, la ciencia, la tecnología y la 
        innovación. 
