.strip.strip-right.strip1
  .strip-text
    .strip-wrapper
      h3.strip-title Nuestros viveros
      p.strip-paragraph.
        Somos productores de calidad suprema y con estrictas prácticas de 
        higiene en los huertos y hortalizas, desde donde nacen y crecen los 
        productos que imprimen el sello de excelencia #[b SiCar Farms].
