.strip.strip-right.strip3
  .strip-text
    .strip-wrapper
      h3.strip-title Libre de pesticidas
      p.strip-paragraph.
        Hemos desarrollado prácticas agrícolas y de cuidado 
        #[b ecológicas y autosustentables] aplicando biorepelentes, 
        plagas benéficas y composta para el suelo.
