.strip.strip-right.strip3
  .strip-text
    .strip-wrapper
      h3.strip-title Empleo y desarrollo
      p.strip-paragraph.
        El liderazgo de 
        #[b SiCar Farms] es fruto del talento, la experiencia, 
        los conocimientos y la entrega de un equipo de más de 
        #[b 150 empleados] que se desenvuelven en un 
        #[b favorable ambiente de trabajo]. 
