.perks
  h2.perks-title Beneficios
  p.perks-text.
    #[b SiCar Farms] es un excelente espacio para crecer y 
    desarrollar un trabajo apasionante que ofrece excelentes frutos.
  br
  .perks-container
    .perks-item
      .perks-image.perks1
      .perks-name Crecimiento y desarrollo
    .perks-item
      .perks-image.perks2
      .perks-name Identidad
    .perks-item
      .perks-image.perks3
      .perks-name Competitividad
    .perks-item
      .perks-image.perks4
      .perks-name Remuneración
    .perks-item
      .perks-image.perks5
      .perks-name Calidad de vida
    .perks-item
      .perks-image.perks6
      .perks-name Transparencia y honestidad
    .perks-item
      .perks-image.perks7
      .perks-name Respeto y compañerismo
