.responsability
  .resp-wrapper
    .resp-title Responsabilidad social y medio ambiente
    .resp-text.
      Nos enorgullece que 
      #[b nuestra actividad] sea un 
      #[b motor para el progreso]. Comprometidos 
      con esta vocación, desarrollamos 
      #[b prácticas] que fomentan el 
      #[b desarrollo social].#[br]
      Participamos en el 
      #[b Programa de Reforestación de especies Forestales] 
      para favorecer la 
      #[b biodiversidad]. Hacemos uso de 
      #[b biorepelentes] y otros productos que protegen 
      la sanidad y la salud.
  .resp-image
