.strip.strip-right.strip1
  .strip-text
    .strip-wrapper
      h3.strip-title Inocuidad
      p.strip-paragraph.
        Nuestras 
        #[b prácticas de calidad superior certificada] están avaladas 
        por los más reconocidos 
        #[b sistemas de gestión de seguridad de sanidad e higiene] 
        dentro del sector agrícola y alimentario.
