.strip.strip2
  .strip-text
    .strip-wrapper
      h3.strip-title Seguridad industrial
      p.strip-paragraph.
        En nuestras actividades también implementamos 
        #[b prácticas operativas seguras] y 
        #[b controles] que contribuyen a cuidar la integridad 
        física de nuestro personal; construyendo 
        #[b espacios laborales seguros].
