.talk
  p.talk-text.
    En 
    #[b SiCar Farms] formamos un equipo con vocación, 
    integrado, honesto, respetuoso, apasionado, 
    comprometido y responsable. Aspiramos a la 
    excelencia y trabajamos por el crecimiento y la 
    satisfacción de nuestros clientes y consumidores.
  br
  p.talk-question ¿Y tú?
  a.talk-button(href="mailto:ventas@sicar.com.mx?Subject=Hablanos%20de%20ti") ¡Háblanos de ti!
