.talk
  p.talk-text.
    En 
    #[b SiCar Farms] formamos un equipo con vocación, 
    integrado, honesto, respetuoso, apasionado, 
    comprometido y responsable. Aspiramos a la 
    excelencia y trabajamos por el crecimiento y la 
    satisfacción de nuestros clientes y consumidores.
  br
  p.talk-question ¿Quieres ser parte del equipo?
  br
  a.talk-button(href="mailto:dania_parada@sicar.com.mx?Subject=Bolsa%20de%20trabajo") Bolsa de trabajo
  a.talk-button(href="mailto:ventas@sicar.com.mx?Subject=Proveedores") Proveedores
