section.we-content#secondSection
  include responsability.pug
  include safety.pug
  include security.pug
  include employment.pug
  include perks.pug
  include talk.pug
  include ../layouts/certifications.pug
include attention.pug
