.map
  h2.map-title Localizaciones
  p.map-text.
    Nuestras oficinas principales están basadas en 
    #[b Tecomán, Colima]. También operamos en los estados de 
    #[b Jalisco], 
    #[b Michoacán] y 
    #[b Veracruz], donde contamos con instalaciones para el 
    empaque y la distribución de nuestros productos.
  img.map-image(src="images/min/we_pack/map.png")
