.strip.strip-right.strip1
  .strip-text
    .strip-wrapper
      h3.strip-title Empaque
      p.strip-paragraph.
        Nuestros métodos, procesos y tecnología garantizan la 
        #[b calidad e inocuidad] a lo largo de cualquiera de nuestros 
        procesos de empaque. Nos acoplamos a las necesidades de 
        nuestros clientes ofreciéndoles 
        #[b “empaque a la medida”] y una amplia variedad de opciones 
        para el almacenamiento y distribución de los productos 
        #[b SiCar Farms].
