.strip {
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 48em;
  margin: 14em 0;
  text-align: left;
  width: 100%;

  @include small {
    background-size: cover;
    margin: 10em 0;
    overflow: hidden;
  }

  &.strip-right {
    background-position: left;

    .strip-text {
      float: right;
    }
  }

  .strip-text {
    color: $white;
    height: 100%;
    position: relative;
    width: 47.5%;

    @include medium {
      width: 80%;
    }

    @include small {
      text-align: center;
      width: 100%;
    }

    .strip-wrapper {
      @include center(false,true);

      padding: 0 10em;
      width: 100%;

      @include extra-large {
        padding: 0 5em;
      }

      @include small {
        background-color: $polarized;
        box-shadow: 0 0 5em 20em $polarized;
      }
    }

    .strip-title {
      @include section-title;

      line-height: 1em;
      text-align: left;

      @include small {
        text-align: center;
      }

      &.strip-override {
        font-size: 6em;

        @include medium {
          font-size: 5em;
        }

        @include small {
          font-size: 4.5em;
        }
      }
    }

    .strip-paragraph {
      font-family: Raleway-SemiBold;
      font-size: 1.8em;
      margin-top: 0.6em;
    }
  }
}

.we-plant {
  .strip1 { background-image: url(../images/min/we_plant/strip1.png); }
  .strip2 { background-image: url(../images/min/we_plant/strip2.png); }
  .strip3 { background-image: url(../images/min/we_plant/strip3.png); }
}

.we-pack {
  .strip1 { background-image: url(../images/min/we_pack/strip1.png); }
  .strip2 { background-image: url(../images/min/we_pack/strip2.png); }
  .strip3 { background-image: url(../images/min/we_pack/strip3.png); }
}

.we-ship {
  .strip1 { background-image: url(../images/min/we_ship/strip1.png); }
  .strip2 { background-image: url(../images/min/we_ship/strip2.png); }
  .strip3 { background-image: url(../images/min/we_ship/strip3.png); }
}

.we-care {
  .strip1 { background-image: url(../images/min/we_care/strip1.png); }
  .strip2 { background-image: url(../images/min/we_care/strip2.png); }
  .strip3 { background-image: url(../images/min/we_care/strip3.png); }
}
