.we-plant {

  .we-content {
    @include linear-gradient($coconut, $pomelo, $clay);
  }

  .cover {
    background-color: $coconut;
  }

  .we-video {
    background: url('../images/min/we_plant/we-plant-bg.jpg') no-repeat;
  }

  .cover-layer {
    background: url('../images/min/we_plant/we-plant-title.svg') center/100% no-repeat;
  }
}
