.we-care {

  .we-content {
    @include linear-gradient($pomelo, $water);

    padding-bottom: 8vw;
  }

  .cover {
    background-color: $pomelo;
  }

  .we-video {
    background: url('../images/min/we_care/we-care-bg.jpg') no-repeat;
  }

  .cover-layer {
    background: url('../images/min/we_care/we-care-title.svg') center/100% no-repeat;
  }
}
