.we-are {

  .we-content {
    @include linear-gradient($sicar-green, $lime);

    padding: 0 30px;

    @include small {
      padding: 0 15px;
    }
  }

  .cover {
    background-color: $sicar-green;
  }

  .we-video {
    background: url('../images/min/we_are/we-are-bg.jpg') no-repeat;
  }

  .cover-layer {
    background: url('../images/min/we_are/we-are-title.svg') center/100% no-repeat;
  }
}
