.cover#firstSection
  h1.cover-title Tomate Roma
  a.cover-arrow(href="#secondSection")
.fruit-info#secondSection
  p.info-text.
    El Tomate Roma o Saladette es una variedad 
    italiana del fruto, de tamaño uniforme y se 
    distingue por ser alargado.
