.nutritional
  h2.nutri-title Tabla nutricional
  table.nutri-table
    tr
      th.nutri-head.nutri-left(colspan="2") Información Nutrimental
    tr
      td.nutri-end.nutri-sep.nutri-left(colspan="2") Tomate Roma
    tr
      td.nutri-start.nutri-left Agua
      td.nutri-start.nutri-right 94.5 g
    tr
      td.nutri-left Energía
      td.nutri-right 18 Kcal
    tr
      td.nutri-left Proteínas
      td.nutri-right 0.88 g
    tr
      td.nutri-left Lípidos totales
      td.nutri-right 0.2 g
    tr
      td.nutri-left Carbohidratos
      td.nutri-right 3.92 g
    tr
      td.nutri-left Fibra total
      td.nutri-right 1.2 g
    tr
      td.nutri-left Azúcar total
      td.nutri-right 2.63 g
    tr
      td.nutri-left Calcio
      td.nutri-right 10 mg
    tr
      td.nutri-left Hierro
      td.nutri-right 0.27 g
    tr
      td.nutri-left Magnesio
      td.nutri-right 11 mg
    tr
      td.nutri-left Fósforo
      td.nutri-right 24 mg
    tr
      td.nutri-left Potasio
      td.nutri-right 237 mg
    tr
      td.nutri-left Sodio
      td.nutri-right 5 mg
    tr
      td.nutri-left Zinc
      td.nutri-right 0.17 mg
    tr
      td.nutri-left Cobre
      td.nutri-right 0.059 mg
    tr
      td.nutri-close.nutri-left Vitamina C
      td.nutri-close.nutri-right 12.7 mg
  table.nutri-table
    tr
      td.nutri-start.nutri-left Tiamina
      td.nutri-start.nutri-right 0.037 mg
    tr
      td.nutri-left Rivoflavina
      td.nutri-right 0.019 mg
    tr
      td.nutri-left Niacina
      td.nutri-right 0.594 mg
    tr
      td.nutri-left Acido Pantoténico
      td.nutri-right 0.089 mg
    tr
      td.nutri-left Vitamina B6
      td.nutri-right 0.08 mg
    tr
      td.nutri-left Folato total
      td.nutri-right 15 mcg
    tr
      td.nutri-left Acido Fólico
      td.nutri-right 0 mcg
    tr
      td.nutri-left Folato alimenticio
      td.nutri-right 15 mcg
    tr
      td.nutri-left Vitamina A
      td.nutri-right 833 UI
    tr
      td.nutri-left Licopeno
      td.nutri-right 2573 mcg
    tr
      td.nutri-left Vitamina E
      td.nutri-right 0.54 mg
    tr
      td.nutri-left Vitamina K
      td.nutri-right 7.9 mg
    tr
      td.nutri-left Acidos grasos saturados
      td.nutri-right 0.028 g
    tr
      td.nutri-left Acidos grasos monoinsaturados
      td.nutri-right 0.031 g
    tr
      td.nutri-left Acidos grasos poliinsaturados
      td.nutri-right 0.083 g
    tr
      td.nutri-close.nutri-left Colesterol
      td.nutri-close.nutri-right 0 mg
