.ripening
  .rip-title Maduración y color
  .rip-fruit
    .rip-slider.owl-carousel.owl-theme
      .rip-slide
        .rip-image.rip1
        p.rip-status Verde
      .rip-slide
        .rip-image.rip2
        p.rip-status Quebrando
      .rip-slide
        .rip-image.rip3
        p.rip-status Rayado
      .rip-slide
        .rip-image.rip4
        p.rip-status Rosa
      .rip-slide
        .rip-image.rip5
        p.rip-status Rojo claro
      .rip-slide
        .rip-image.rip6
        p.rip-status Rojo
  .rip-info
    table.table
      tr.table-row
        th.table-head Color
        th.table-head.left-cell Descripción
      tr.table-row
        td.table-cell Verde
        td.table-cell.left-cell.small-cell.
          La piel del tomate está completamente verde. 
          El color verde puede variar de claro a oscuro.
      tr.table-row
        td.table-cell Quebrando
        td.table-cell.left-cell.small-cell.
          Existe un rompimiento del color verde hacia 
          colores amarillo, rosado o rojo en no más del 
          10% de la superficie del fruto.
      tr.table-row
        td.table-cell Rayado
        td.table-cell.left-cell.small-cell.
          Entre el 10 y el 30% de la superficie del fruto 
          muestra un cambio definido del color verde hasta 
          amarillo, rosado o rojo, o una mezcla de ellos.
      tr.table-row
        td.table-cell Rosa
        td.table-cell.left-cell.small-cell.
          Entre el 30 y el 60% de la superficie del 
          tomate tiene color rosa o rojo.
      tr.table-row
        td.table-cell Rojo claro
        td.table-cell.left-cell.small-cell.
          Entre el 60 y el 90% de la superficie del 
          tomate muestra colores rosados o rojo.
      tr.table-row
        td.table-cell Rojo
        td.table-cell.left-cell.small-cell.
          Más del 90% de la superficie del tomate 
          tiene color rojo.
