.sizes
  h2.sizes-title Tamaños
  p.sizes-text.
    El calibre se determina por el diámetro máximo
    de la sección ecuatorial del fruto, de acuerdo
    al cuadro que se muestra a continuación:
  br
  table.table
    tr.table-row
      th.table-head(rowspan="3") Tamaño
      th.table-head(colspan="4") Diametro en mm (pulgadas)
      th.table-head(rowspan="3") No. Frutos / caja 25 libras
    tr.table-row
      th.table-head(colspan="2") Mínimo (a)
      th.table-head(colspan="2") Máximo (b)
    tr.table-row
      th.table-head mm
      th.table-head pulg
      th.table-head mm
      th.table-head pulg
    tr.table-row
      td.table-cell.left-cell  Chico
      td.table-cell 38
      td.table-cell (18/16)
      td.table-cell 52
      td.table-cell (21/16)
      td.table-cell 160 y más
    tr.table-row
      td.table-cell.left-cell  Mediano
      td.table-cell 51
      td.table-cell (2)
      td.table-cell 60
      td.table-cell (26/16)
      td.table-cell 140 - 160
    tr.table-row
      td.table-cell.left-cell  Grande
      td.table-cell 59
      td.table-cell (25/16)
      td.table-cell 71
      td.table-cell (213/16)
      td.table-cell 115 - 135
    tr.table-row
      td.table-cell.left-cell  Extra grande
      td.table-cell 70
      td.table-cell (212/16)
      td.table-cell 76
      td.table-cell (3)
      td.table-cell 95 - 100
    tr.table-row
      td.table-cell.left-cell  Max. Extra grande
      td.table-cell(colspan="4") Más de 76 mm (3 pulgadas)
      td.table-cell 90 o menos
