.prods-content#secondSection
  p.prods-text.
    El sello de excelencia 
    #[b SiCar Farms] integra una amplia variedad 
    de productos frescos, garantizando calidad, 
    frescura y sabor.
  .prods-item
    .prod-image.prod1
    .prod-text
      .prod-wrapper
        h3.prod-name Limón Mexicano
        p.prod-paragraph.
          Fruto cítrico de jugo ácido, con semilla y 
          cáscara delgada. El 
          #[b Limón Mexicano SiCar Farms] se produce en los 
          #[b Estados de Colima y Michoacán].
        a.prod-link(href="/mexican_lemon") Ver más
  .prods-item.prod-right
    .prod-image.prod2
    .prod-text
      .prod-wrapper
        h3.prod-name Limón Persa
        p.prod-paragraph.
          Es un citrico de jugo semi-ácido, sin semilla 
          y cascara gruesa. Esta variedad se produce en 
          los estados de 
          #[b Colima, Jalisco y Veracruz].
        a.prod-link(href="/persian_lemon") Ver más
  .prods-item
    .prod-image.prod3
    .prod-text
      .prod-wrapper
        h3.prod-name Tomate Roma
        p.prod-paragraph.
          El Tomate Roma o Saladette es una variedad 
          italiana del fruto, de tamaño uniforme y se 
          distingue por ser alargado.
        a.prod-link(href="/tomatoe") Ver más
  .prods-item.prod-right
    .prod-image.prod4
    .prod-text
      .prod-wrapper
        h3.prod-name Piña Miel (MD2)
        p.prod-paragraph.
          Fruto tropical de sabor dulce, su forma es 
          ovalada y gruesa, mide aproximadamente 30 cm 
          de largo y 15 cm de diámetro, se produce en 
          el estado de Colima.
        a.prod-link(href="/pineapple") Ver más
  .prods-item
    .prod-image.prod5
    .prod-text
      .prod-wrapper
        h3.prod-name Coco Destopado
        p.prod-paragraph.
          Lorem ipsum dolor sit amet, consectetuer 
          adipiscing elit. Aenean commodo ligula eget 
          dolor. Aenean massa
        a.prod-link(href="/coconut") Ver más
  .prods-item.prod-right
    .prod-image.prod6
    .prod-text
      .prod-wrapper
        h3.prod-name Tamarindo
        p.prod-paragraph.
          Lorem ipsum dolor sit amet, consectetuer 
          adipiscing elit. Aenean commodo ligula eget 
          dolor. Aenean massa
        a.prod-link(href="/tamarind") Ver más
